<html>
<head>
  <title>Makers BnB by Team LAMP</title>
  <style>

  h1 {
    text-align: center;
  }

  .bgd {
    align-items: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns:repeat(3, 1fr), minmax(auto, 100);
    grid-gap:1em;

  }

  .wrapper > div{
    background: orange;
    padding: 1em;
  }

  .wrapper > div:nth-child(odd){

    background: red;
  }

  .my_bookings {
    grid-column: 1/3;
  }

  .my_properties {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .account_controls {
    text-align:center;
  }
  div {
    border-radius: 10px;
  }

  input[type="submit"] {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: grab;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 9px #999;
  }

  input[type="submit"]:hover {background-color: green;}

input[type="submit"]:active {
    background-color: black;
    box-shadow: 0 5px yellow;
    cursor: grabbing;
    transform: translateY(4px);
  }

  </style>
</head>
<body>
  <div class="wrapper">
  <div><h1>Hi <%= @user.name %>, here is your account!</h1></div>
  <div class="account_controls" style="align-content: center;" >
    <form method="get" action="/add-property">
      <input  type="submit" id="add_property" value="Add Property">
    </form>
  </div>
  <div class="my_properties">
    <h2>Your Properties</h2>
    <% @properties.each do |property| %>
      <li class="property" id="property-<%= property.id %>">
        <%= property.name %>
        £<%= property.ppn %> per night.
        <form method="get" action="property/update/<%= property.id %>">
          <input type="submit" id="update" value="Update">
        </form>
        <h3>Bookings</h3>
        <% Booking.list_by_property(property_id: property.id).each do |booking| %>
          <%= booking.date %>
          <% if booking.approved == "t" %>
            Approved
          <% elsif booking.approved == "f" %>
            Denied
          <% else %>
            Pending
            <form method="post" action="booking/approve/<%= booking.id %>">
              <input type="submit" id="approve" value="Approve">
            </form>
            <form method="post" action="booking/deny/<%= booking.id %>">
              <input type="submit" id="deny" value="Deny">
            </form>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </div>
  <div class="my_bookings">
    <h2>Your Bookings</h2>
    <% @bookings.each do |booking| %>
      <%= booking.id %>
      <%= booking.date %>
      <%= booking.property_name %>
      <%= booking.ppn %>
      <% if booking.approved == "t" %>
        Approved
      <% elsif booking.approved == "f" %>
        Denied
      <% else %>
        Pending
      <% end %>
    <% end %>
  </div>
</div>
<img class="bgd" src="https://static.gamespot.com/uploads/screen_kubrick/1578/15789366/3431596-rick+and+morty+featured+image.jpg"
</body>
</html>
