<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1>Welcome to MakersBnB, <%= @user.name if @user %>!</h1>
  <div id="account controls">
    <% if !@user %>
    <form method="get" action="/register">
      <input type="submit" value="Register" id="register" name="register">
    </form>

    <form method="get" action="/login">
      <input type="submit" value="Login" id="login" name="login">
    </form>
    <% else %>
    <form method="post" action="/logout">
      <input type="submit" value="Logout" id="logout" name="logout">
    </form>
      <% end %>
    <%= flash[:notice] %>

    <% if @user %>
    <form method="get" action="/account">
      <input type="submit" id="account_page" value="Account">
    </form>
    <% end %>
  </div>

  <div class="table">
    <% @properties.each do |property| %>
    <div class="property">
      <%= property.name %>
      £<%= property.ppn %> per night.
      <br>
      <form action="/property/view/<%= property.id %>" method="get">
        <input type="submit" id="view_<%= property.id %>" value="View More">
      </form>
    </div>
    <% end %>
  </div>

</body>
</html>
