<html>
<head>
  <title>Makers BnB by Team LAMP</title>
</head>
<body>
  <h1>Welcome to MakersBnB, <%= @user.name if @user %>!</h1>
  <div id="account controls">
    <form method="get" action="/register">
      <input type="submit" value="Register" id="register" name="register">
    </form>
    <form method="get" action="/login">
      <input type="submit" value="Login" id="login" name="login">
    </form>
    <form method="post" action="/logout">
      <input type="submit" value="Logout" id="logout" name="logout">
    </form>
    <%= flash[:notice] %>

    <% if @user %>
    <form method="get" action="/add-property">
      <input type="submit" value="Add property">
    </form>
    <form method="get" action="/my-properties">
      <input type="submit" value="My Properties">
    </form>
    <form method="get" action="/view_bookings">
      <input type="submit" value="view_bookings">View Bookings
    </form>
    <% end %>
  </div>

  <div>
    <% @properties.each do |property| %>
    <%= property.name %>
    £<%= property.ppn %> per night.
    <br>
    <form action="/property/view/<%= property.id %>" method="post">
      <input type="submit" id="view_<%= property.id %>" value="View More">
    </form>
    <% end %>
  </div>

</body>
</html>
